*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .dashboard-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Error-caption{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .error-status-text{
    font-size: 24px;
    font-weight: bold;
  }

  .marketing-msg{
    font-size: 18px;
    color: #666;
    
  }